<div class="columns is-centered">
  <div class="column is-4">
    <h1 class="title">Login</h1>
    <form method="post" action="/login">
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" name="email" required />
        </div>
      </div>
      <div class="field">
        <label class="label">Senha</label>
        <div class="control">
          <input class="input" type="password" name="password" required />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit">Entrar</button>
        </div>
      </div>
    </form>
    <p class="mt-3">Não tem conta? <a href="/signup">Criar conta</a></p>
  </div>
</div>


